<h1>ยินดีต้อนรับคุณ {{firstName}} {{lastName}}</h1>
<p>สถานะของคุณ :{{isActive}}</p>
<a href="http://localhost:4200/">เข้าสู่ระบบ</a>
<style>
    .container {
        width: 960px;
    }
    .row{
        display: flex;
    }
    .btnsave{
        border-radius: 12px;
        background-color: rgb(63, 81, 161);
        border: none;
    }
    
</style>